/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}