@page
@model IndexModel
@{
    ViewData["Title"] = "Browser Studio";
    Layout = "~/Pages/Shared/_Semantic.cshtml";
}

<div id="fileSystemEditor" class="ui black full-height fluid container">
    <file-change-explorer ref="fileChangeExplorer" v-on:file-change-selected="fileChangeSelected($event)"></file-change-explorer>

    <div class="ui inverted segment" style="margin-top: 80px;">
        <div class="ui internal attached left rail">
            <div class="ui inverted segment">
                <file-explorer ref="fileExplorer" v-on:file-selected="fileSelected($event)"></file-explorer>
            </div>
        </div>

        <div class="ui internal attached right rail">
            <div class="ui inverted segement">
                <queue-controls></queue-controls>
            </div>
        </div>
        <div class="ui container">
            <file-change-editor ref="fileChangeEditor"></file-change-editor>
        </div>
    </div>
</div>
@section Scripts{

    @await Html.PartialComponentAsync(
    "FileChangeExplorer",
    "FileChangeEditor",
    "FileExplorer",
    "QueueControls")

    <!-- Include SignalR Client Library -->
    <script src="https://cdn.jsdelivr.net/npm/@@aspnet/signalr@1.1.2/dist/browser/signalr.min.js"></script>

    <!-- Include the Codemirror library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>

    <!-- Codemirror JS Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue-codemirror@4.0.0/dist/vue-codemirror.js"></script>
    <!-- Codemirror Libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/meta.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/merge/merge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/selection/active-line.min.js"></script>
    <!-- Google diff match patch -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
    <script>
        window.DIFF_DELETE = -1
        window.DIFF_INSERT = 1
        window.DIFF_EQUAL = 0
    </script>
    <!-- Include stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/merge/merge.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/theme/monokai.min.css" rel="stylesheet">


    <script type="text/javascript">
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/workspace")
            .build();


        Vue.use(VueCodemirror);

        var app = new Vue({
            el: "#fileSystemEditor",
            data: {
                splitIndex: 0,
                splitSizes: [
                    { menu: "two wide", editor: "fourteen wide" },
                    { menu: "three wide", editor: "thirteen wide" },
                    { menu: "four wide", editor: "twelve wide" },
                    { menu: "five wide", editor: "eleven wide" },
                    { menu: "six wide", editor: "ten wide" },
                    { menu: "seven wide", editor: "nine wide" },
                    { menu: "eight wide", editor: "eight wide" }
                ],
                cmOptions: {
                    tabSize: 4,
                    styleActiveLine: true,
                    lineNumbers: true,
                    mode: 'text/javascript',
                    theme: "monokai"
                },
            },
            created() {
            },
            methods: {
                fileChangeSelected(fileChange) {
                    this.$refs.fileChangeEditor.setFileChange(fileChange);
                },
                fileSelected(file) {
                    this.$refs.fileChangeExplorer.createFileChange(file.id);
                },
                fileStatusChanged(fileId, hash) {
                    this.$refs.fileChangeEditor.refreshAnalysis();
                }
            }
        });

        connection.on("FileStatusChanged", (fileId, hash) => {
            app.fileStatusChanged(fileId, hash);
        });

        connection.start();
    </script>
}
