@page
@inject Microsoft.Extensions.Options.IOptions<QueueT.Tasks.QueueTTaskOptions> taskOptions
@model IndexModel
@{
    ViewData["Title"] = "QueueT Task List";
}

<div>
    <h1>Registered Tasks</h1>
    <ul>
        @foreach (var taskDefinition in taskOptions.Value.Tasks)
        {
            <li>@taskDefinition.Name</li>
        }
    </ul>
</div>